@import "../../../../styles/variables.scss";

.container {
  display: flex;
  margin: $spacing-xs 0;
  background: $gray05;
  max-width: 100%;
  overflow: hidden;

  .cover {
    width: 8rem;
    padding: $spacing-xs 0;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;

    img {
      max-width: 8rem;
      max-height: 8rem;
    }
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
      font-size: 110%;
      padding: $spacing-3xs $spacing-xxs;
    }

    .description {
      flex: 1;
      color: $gray80;
      padding: 0 $spacing-xxs;
    }

    .details {
      color: $gray40;
      display: flex;
      align-items: center;
      margin-bottom: $spacing-3xs;
      flex-wrap: wrap;
      padding: 0 $spacing-xxs;

      .authors {
        margin-right: $spacing-3xs;
      }
    }

    .wishlist {
      text-align: right;
      margin-top: $spacing-xxs;

      button {
        border: 0;
        background: $blue-accent;
        cursor: pointer;
        padding: $spacing-xxs $spacing-xs;
        color: $white;
        transition: all 0.3s;

        &:disabled {
          background: $gray30;
          color: $gray60;
          cursor: not-allowed;
        }
      }
    }
  }
}