@import '../../styles/variables.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $blue-accent;
  color: $white;
  padding: $spacing-xs $spacing-med;
  box-shadow: $shadow;
  width: 100%;

  flex-grow: 0;
  flex-shrink: 0;

  .content {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.main {
  flex: 1;
  overflow: auto;

  .content {
    min-width: 300px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
}
